[
  { simple_im, [{app_mode, im},
                {log_dir, "/tmp/log/"},
                {cacertfile, "cowboy-ca.crt"},
                {certfile, "server.crt"},
                {keyfile, "server.key"},
                {middleman_host, "localhost"},
                {middleman_port, 10000},
                {im_port, 1987},
                {im_listener_poolsize, 2},
                {client_factory_size, 10},
                {heartbeat_timeout, 600000},
                {node_list, ['s1@simple_im.com',
                             's2@simple_im.com',
                             's3@simple_im.com']},

                % database
                {db_host, "localhost"},
                {db_username, "postgres"},
                {db_password, "postgres"},
                {db_database, "test"},
                {db_port, 5432},
                {db_poolsize, 5},

                % redis
                {redis_pools, [{pool0, [{size, 10},
                                        {max_overflow, 20},
                                        {host, "127.0.0.1"},
                                        {port, 6379}]}]},
                {redis_global_or_local, local},

                {device_list, [<<"android">>, <<"iphone">>, <<"ipad">>]}]
  }
].