{require_otp_vsn, "18"}.

{erl_opts, [
    {src_dirs, ["src", "task"]},
    no_debug_info,
    warnings_as_errors
]}.

{deps, [
    {epgsql, {git, "git@github.com:epgsql/epgsql.git", {branch, master}}},
    {sharded_eredis, {git, "git@github.com:jeremyong/sharded_eredis.git", {branch, master}}},
    {cowboy, {git, "git@github.com:ninenines/cowboy.git", {tag, '2.0.0-pre.1'}}}
]}.

{relx, [{extended_start_script, true}]}.

{profiles, [
    %% production im server
    {prod_im, [
        {relx, [
            {release, { im, "0.7.0" }, [
                simple_im,
                {epgsql, load},
                {poolboy, load},
                {eredis, load},
                {sharded_eredis, load}
            ]},

            {sys_config, "./config/im/sys.config"},
            {vm_args, "./config/im/vm.args"},

            {dev_mode, false},
            {include_erts, true}
        ]}
    ]},

    %% production http server
    {prod_http, [
        {relx, [
            {release, { http, "0.7.0" }, [
                simple_im,
                {epgsql, load},
                {cowboy, load},
                {poolboy, load},
                {eredis, load},
                {sharded_eredis, load}
            ]},

            {sys_config, "./config/http/sys.config"},
            {vm_args, "./config/http/vm.args"},

            {dev_mode, false},
            {include_erts, true}
        ]}
    ]},

    %% production middleman server
    {prod_middleman, [
        {relx, [
            {release, { middleman, "0.7.0" }, [simple_im]},

            {sys_config, "./config/middleman/sys.config"},
            {vm_args, "./config/middleman/vm.args"},

            {dev_mode, false},
            {include_erts, true}
        ]}
    ]},

    %% production session server
    {prod_session, [
        {relx, [
            {release, { session, "0.7.0" }, [simple_im]},

            {sys_config, "./config/session/sys.config"},
            {vm_args, "./config/session/vm.args"},

            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.