{erl_opts, [{src_dirs, ["src", "task"]}]}.

{deps, [
    {epgsql, {git, "git@github.com:epgsql/epgsql.git", {branch, master}}},
    {sharded_eredis, {git, "git@github.com:jeremyong/sharded_eredis.git", {branch, master}}},
    {cowboy, {git, "git@github.com:ninenines/cowboy.git", {tag, '2.0.0-pre.1'}}}
]}.

%% develop enviorment
{relx, [{release, { simple_im, "0.6.0" },
         [simple_im]},

        {sys_config, "./config/sys.dev.config"},
        {vm_args, "./config/vm.dev.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

%% production enviorment
{profiles, [{prod, [{relx, [{sys_config, "./config/sys.config"},
                            {vm_args, "./config/vm.args"},

                            {dev_mode, false},
                            {include_erts, true}]},

                    {erl_opts, [no_debug_info,
                                warnings_as_errors]}]
            }]
}.

{require_otp_vsn, "18"}.