{erl_opts, [debug_info]}.

{deps, [
    {epgsql, {git, "git@github.com:epgsql/epgsql.git", {branch, master}}},
    {sharded_eredis, {git, "git@github.com:jeremyong/sharded_eredis.git", {branch, master}}},
    {cowboy, {git, "git@github.com:ninenines/cowboy.git", {branch, master}}}
]}.

{relx, [{release, { simple_im, "0.6.0" },
         [simple_im,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{require_otp_vsn, "18"}.

%% Erlang compiler options
{erl_opts, [{src_dirs, ["src", "task"]}]}.