[
  { simple_im, [{app_mode, http},
                {log_dir, "/tmp/log/"},
                {cacertfile, "cowboy-ca.crt"},
                {certfile, "server.crt"},
                {keyfile, "server.key"},
                {http_port, 8080},
                {middleman_host, "localhost"},
                {middleman_port, 10000},

                % database
                {db_host, "localhost"},
                {db_username, "postgres"},
                {db_password, "postgres"},
                {db_database, "test"},
                {db_port, 5432},
                {db_poolsize, 10},

                % redis
                {redis_pools, [{pool0, [{size, 10},
                                        {max_overflow, 20},
                                        {host, "127.0.0.1"},
                                        {port, 6379}]}]},
                {redis_global_or_local, local},

                % ssdb
                {ssdb, [{host, "127.0.0.1"}, {port, 8888}]},

                % http server config
                {audio_dir, "/tmp/file/audio/"},
                {video_dir, "/tmp/file/video/"},
                {image_dir, "/tmp/file/video/"}]
  }
].